<!-- chat-privado.component.html -->
<h2>🔐 Chat privado con {{ destino }}</h2>

<div #scrollPrivado id="mensajes" class="chat-box">
  @for (msg of mensajes; track msg) {
    <div
      [class.mensaje-propio]="msg.de === usuarioActual"
      [class.mensaje-otro]="msg.de !== usuarioActual"
    >
      @if (msg.de !== usuarioActual) {
        <strong>{{ msg.de }}:</strong>
      } @else {
    <strong>Tú:</strong>
  }

      {{ msg.texto }}
      <div class="hora">{{ msg.fecha | date:'HH:mm' }}</div>
    </div>
  }
</div>

<form (ngSubmit)="enviar()" class="chat-form">
  <input
    type="text"
    [(ngModel)]="nuevoTexto"
    name="mensaje"
    placeholder="Escribe un mensaje..."
    required
  />
  <button type="submit">Enviar</button>
</form>

<app-privados-list></app-privados-list>