<!-- src/app/components/nav-bar/nav-bar.component.html -->
<nav class="navbar">
  <div class="logo">
    <a routerLink="/inicio">💬 Gonza Chat</a>
  </div>

  <ul class="links">
     <li><a routerLink="/inicio">Inicio</a></li>
    <li><a routerLink="/salas">Salas</a></li>
    <li><a routerLink="/crear-sala">Crear Sala</a></li>
    <li><a routerLink="/mis-salas">Tus salas</a></li>
    <li><a routerLink="/privados">Privados</a></li>
    <li><a routerLink="/usuarios">Usuarios</a></li>
     
  </ul>

  @if (usuario) {
    <div class="user-menu">
      <span>Hola, {{ usuario }}</span>
      <button (click)="logout()">Cerrar sesión</button>
    </div>
  } @else {
    <div class="user-menu">
      <a routerLink="/login">Login</a> |
      <a routerLink="/registro">Registro</a>
    </div>
  }

  <!-- Enlaces móviles -->
  <button class="hamburger" (click)="toggleMobileMenu()">☰</button>
  <ul (click)="toggleMobileMenu()" class="mobile-links" [class.open]="mobileMenuOpen">
     <li><a routerLink="/inicio">Inicio</a></li>
    <li><a routerLink="/salas">Salas</a></li>
    <li><a routerLink="/crear-sala">Crear Sala</a></li>
    <li><a routerLink="/mis-salas">Tus salas</a></li>
    <li><a routerLink="/usuarios">Usuarios</a></li>
  
    @if (usuario) {
      <li><button (click)="logout()">Cerrar sesión</button></li>
    } @else {
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/registro">Registro</a></li>
    }
  </ul>
</nav>
